/* avoid Unable to preventDefault inside passive event listener..... */
body {
	touch-action:none;
}
/* Swipe works with mouse as well but often causes text selection. */
#race-page *, #predict-page *, #summary-page * {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
}

* {
	font-family: 'Noto Sans TC', sans-serif;
}

#content-container { background-color:Ivory; }

/* outline:none trying to disable highlight glow around anchors, not working yet */
a:link {
    text-decoration: none;
}
a:visited {
    text-decoration: none;
	outline:none;
}
a:hover {
    text-decoration: none;
	outline:none;
}
a:active {
    text-decoration: none;
	outline:none;
}
/* Add alternating row stripes */
.table-stripe tbody tr:nth-child(odd) td,
.table-stripe tbody tr:nth-child(odd) th {
  background-color: rgba(0,0,0,0.06);
}

.ui-table td, .ui-table th{
	font-size: 100%;
	margin: 0px;
	padding: 0px 4px 0px 0px;
}
.ui-table th {
	font-weight: normal;
	color: tomato;
}
.ui-table td a {
	font-weight: normal;
	color: DarkBlue;
}

.ui-table div.scrollable {
	width: 77px;
    overflow: auto;
    white-space: nowrap;
}

.ui-table tbody tr td.win {
	background-color: #f99;
}
.ui-table tbody tr td.pla {
	background-color: #9f3;
}
.ui-table tbody tr td.win-pla {
	background-color: #fc9;
}

.ui-content {
	padding: 0.7em;
}

/* hide AI column */
.ui-table-priority-6 {
	display: none;
}

#summary-page td.seqno {
	color: DarkBlue;
}

#summary-page div.scroll-table {
	width: 100%;
	overflow: auto;
    white-space: nowrap;
}
/* to spin a icon button anchor */
a.rotate {
	background-color:transparent !important;
	border:0 !important;
	outline:0 !important;
	margin:0 !important;
    animation: spin 6s linear infinite;

}
@keyframes spin {
    100% {transform: rotate(360deg);}
}

@keyframes flash {
  0%, 49% {
    background-color: red;
  }
  50%, 100% {
    background-color: green;
  }
}

div.scrollmenu {
    background-color: #444;
    overflow: auto;
    white-space: nowrap;
}
div.scrollmenu a {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 1em 1.5em 1em 1.5em;
    text-decoration: none;
	margin: 0;
	border: 0;
}

div.scrollmenu a.active-race { 
    background-color: #c00;
	color:white;
}

div.race-info {
	font-size:16px;
	font-weight:700;
	max-width: 100%;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
div.race-info:active {
    overflow: visible;
	white-space: normal;
}

/*** -webkit-touch-callout:none stop taphold popup on iOS for the specific anchors */
/*** others trying to disable highlight around icon when anchors are selected NOT WORKING YET FOR ANDOID */
a.reload-btn, a.winodds-btn, div.scrollmenu a, a.racecourse {
    -webkit-touch-callout: none !important;
	-webkit-tap-highlight-color: rgba(0,0,0,0) !important;
	-webkit-tap-highlight-color: transparent !important;
	outline: none !important;
}
/* hide race-page columntoggle btn (columnToggle:none would stop auto toggle upon width change) */
#race-page .ui-table-columntoggle-btn {
    display: none !important;
}

#predict-page .ui-table-columntoggle-btn {
    display: none !important;
}

#popup-message {
	text-align: center;
	color : white;
	animation: flash 1s linear infinite;
}

#left-panel {
	width:auto;
	font-size:100%;
}

td.fixed-column {
	color : DarkBlue !important;
	font-size : 80% !important;
}

#jockey-page table.dataTable th, #trainer-page table.dataTable th, #jockey-page table.dataTable td,
#trainer-page table.dataTable td {
    font-size: 60%;
}

#jockey-page table.dataTable thead tr th:first-child,  #trainer-page table.dataTable thead tr th:first-child {
    font-size: 80%;
	color: white;
	background-color: rgb(0,68,204);
}

#result-page table.dataTable tbody tr.race-begin td {
  border-top: 2px solid Darkblue;
#border-collapse: collapse;
}

div.ui-slider-switch { width: 8em }
/*
th.remarks:active {
	overflow: visible;
	white-space: normal;
}
th.remarks:active::after {
	content: ">>>>>>>>>> >>>>>>>>>> >>>>>>>>>> 試：近兩場試馬（前放+后追）及頭馬距離<5;失：試馬後冇跑第一;重:近三季體重差十磅内上名；程:近三季同途程上名輸2馬位以内，上名率0.75或以上黑底星；道:近三季同跑道上名";
	color:black;
}
*/
/* custom icons */
.ui-icon-money:after { background-image: url("data:image/svg+xml;charset=US-ASCII,%3C%3Fxml%20version%3D%221.0%22%20encoding%3D%22utf-8%22%3F%3E%3C!DOCTYPE%20svg%20PUBLIC%20%22-%2F%2FW3C%2F%2FDTD%20SVG%201.1%20Tiny%2F%2FEN%22%20%22http%3A%2F%2Fwww.w3.org%2FGraphics%2FSVG%2F1.1%2FDTD%2Fsvg11-tiny.dtd%22%3E%3Csvg%20version%3D%221.1%22%20baseProfile%3D%22tiny%22%20id%3D%22Layer_1%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20x%3D%220px%22%20y%3D%220px%22%20width%3D%2216px%22%20height%3D%2216px%22%20viewBox%3D%220%200%20500%20500%22%20xml%3Aspace%3D%22preserve%22%3E%20%3Cpath%20d%3D%22M214.286%20321.429h107.143v-26.786h-35.714v-125h-31.808l-41.294%2038.226%2021.484%2022.321q11.719-10.324%2015.346-15.904h0.558v80.357h-35.714v26.786zM357.143%20250q0%2019.531-5.859%2039.621t-16.602%2037.388-28.32%2028.181-38.504%2010.882-38.504-10.882-28.32-28.181-16.602-37.388-5.859-39.621%205.859-39.621%2016.602-37.388%2028.32-28.181%2038.504-10.882%2038.504%2010.882%2028.32%2028.181%2016.602%2037.388%205.859%2039.621zM500%20321.429v-142.857q-29.576%200-50.502-20.926t-20.926-50.502h-321.429q0%2029.576-20.926%2050.502t-50.502%2020.926v142.857q29.576%200%2050.502%2020.926t20.926%2050.502h321.429q0-29.576%2020.926-50.502t50.502-20.926zM535.714%2089.286v321.429q0%207.254-5.301%2012.556t-12.556%205.301h-500q-7.254%200-12.556-5.301t-5.301-12.556v-321.429q0-7.254%205.301-12.556t12.556-5.301h500q7.254%200%2012.556%205.301t5.301%2012.556z%22%20fill%3D%22%23ffffff%22%20%2F%3E%3C%2Fsvg%3E"); background-repeat: no-repeat; }
.ui-nosvg .ui-icon-money:after { background-image: url("png_icons/money.png"); }
.ui-icon-cloud-download:after { background-image: url("data:image/svg+xml;charset=US-ASCII,%3C%3Fxml%20version%3D%221.0%22%20encoding%3D%22utf-8%22%3F%3E%3C!DOCTYPE%20svg%20PUBLIC%20%22-%2F%2FW3C%2F%2FDTD%20SVG%201.1%20Tiny%2F%2FEN%22%20%22http%3A%2F%2Fwww.w3.org%2FGraphics%2FSVG%2F1.1%2FDTD%2Fsvg11-tiny.dtd%22%3E%3Csvg%20version%3D%221.1%22%20baseProfile%3D%22tiny%22%20id%3D%22Layer_1%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20x%3D%220px%22%20y%3D%220px%22%20width%3D%2216px%22%20height%3D%2216px%22%20viewBox%3D%220%200%20500%20500%22%20xml%3Aspace%3D%22preserve%22%3E%20%3Cpath%20d%3D%22M357.143%20258.929q0-3.906-2.511-6.417t-6.417-2.511h-62.5v-98.214q0-3.627-2.651-6.278t-6.278-2.651h-53.571q-3.627%200-6.278%202.651t-2.651%206.278v98.214h-62.5q-3.627%200-6.278%202.651t-2.651%206.278q0%203.906%202.511%206.417l98.214%2098.214q2.511%202.511%206.417%202.511t6.417-2.511l97.935-97.935q2.79-3.348%202.79-6.696zM535.714%20321.429q0%2044.364-31.39%2075.753t-75.753%2031.39h-303.571q-51.618%200-88.309-36.691t-36.691-88.309q0-36.272%2019.531-66.964t52.456-46.038q-0.558-8.371-0.558-11.998%200-59.152%2041.853-101.004t101.004-41.853q43.527%200%2079.66%2024.274t52.595%2064.453q19.81-17.299%2046.317-17.299%2029.576%200%2050.502%2020.926t20.926%2050.502q0%2021.206-11.44%2038.504%2036.272%208.649%2059.57%2037.807t23.298%2066.546z%22%20fill%3D%22%23ffffff%22%20%2F%3E%3C%2Fsvg%3E"); background-repeat: no-repeat; }
.ui-nosvg .ui-icon-cloud-download:after { background-image: url("png_icons/cloud-download.png"); }
.ui-icon-bug:after { background-image: url("data:image/svg+xml;charset=US-ASCII,%3C%3Fxml%20version%3D%221.0%22%20encoding%3D%22utf-8%22%3F%3E%3C!DOCTYPE%20svg%20PUBLIC%20%22-%2F%2FW3C%2F%2FDTD%20SVG%201.1%20Tiny%2F%2FEN%22%20%22http%3A%2F%2Fwww.w3.org%2FGraphics%2FSVG%2F1.1%2FDTD%2Fsvg11-tiny.dtd%22%3E%3Csvg%20version%3D%221.1%22%20baseProfile%3D%22tiny%22%20id%3D%22Layer_1%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20x%3D%220px%22%20y%3D%220px%22%20width%3D%2216px%22%20height%3D%2216px%22%20viewBox%3D%220%200%20500%20500%22%20xml%3Aspace%3D%22preserve%22%3E%20%3Cpath%20d%3D%22M455.357%20267.857q0%207.254-5.301%2012.556t-12.556%205.301h-62.5q0%2047.712-18.694%2080.915l58.036%2058.315q5.301%205.301%205.301%2012.556t-5.301%2012.556q-5.022%205.301-12.556%205.301t-12.556-5.301l-55.246-54.966q-1.395%201.395-4.185%203.627t-11.719%207.952-18.136%2010.184-22.879%208.091-27.065%203.627v-250h-35.714v250q-14.23%200-28.32-3.767t-24.274-9.208-18.415-10.882-12.137-9.068l-4.185-3.906-51.060%2057.757q-5.581%205.859-13.393%205.859-6.696%200-11.998-4.464-5.301-5.022-5.72-12.417t4.325-12.974l56.362-63.337q-16.183-31.808-16.183-76.451h-62.5q-7.254%200-12.556-5.301t-5.301-12.556%205.301-12.556%2012.556-5.301h62.5v-82.031l-48.27-48.27q-5.301-5.301-5.301-12.556t5.301-12.556%2012.556-5.301%2012.556%205.301l48.27%2048.27h235.491l48.27-48.27q5.301-5.301%2012.556-5.301t12.556%205.301%205.301%2012.556-5.301%2012.556l-48.27%2048.27v82.031h62.5q7.254%200%2012.556%205.301t5.301%2012.556zM321.429%20107.143h-178.571q0-37.109%2026.088-63.198t63.198-26.088%2063.198%2026.088%2026.088%2063.198z%22%20fill%3D%22%23ffffff%22%20%2F%3E%3C%2Fsvg%3E"); background-repeat: no-repeat; }
.ui-nosvg .ui-icon-bug:after { background-image: url("png_icons/bug.png"); }
.ui-icon-eraser:after { background-image: url("data:image/svg+xml;charset=US-ASCII,%3C%3Fxml%20version%3D%221.0%22%20encoding%3D%22utf-8%22%3F%3E%3C!DOCTYPE%20svg%20PUBLIC%20%22-%2F%2FW3C%2F%2FDTD%20SVG%201.1%20Tiny%2F%2FEN%22%20%22http%3A%2F%2Fwww.w3.org%2FGraphics%2FSVG%2F1.1%2FDTD%2Fsvg11-tiny.dtd%22%3E%3Csvg%20version%3D%221.1%22%20baseProfile%3D%22tiny%22%20id%3D%22Layer_1%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20x%3D%220px%22%20y%3D%220px%22%20width%3D%2216px%22%20height%3D%2216px%22%20viewBox%3D%220%200%20500%20500%22%20xml%3Aspace%3D%22preserve%22%3E%20%3Cpath%20d%3D%22M250%20392.857l93.75-107.143h-214.286l-93.75%20107.143h214.286zM532.645%2092.355q4.185%209.487%202.651%2019.95t-8.51%2018.276l-250%20285.714q-10.603%2012.277-26.786%2012.277h-214.286q-10.603%200-19.392-5.72t-13.253-15.207q-4.185-9.487-2.651-19.95t8.51-18.276l250-285.714q10.603-12.277%2026.786-12.277h214.286q10.603%200%2019.392%205.72t13.253%2015.207z%22%20fill%3D%22%23ffffff%22%20%2F%3E%3C%2Fsvg%3E"); background-repeat: no-repeat; }
.ui-nosvg .ui-icon-eraser:after { background-image: url("png_icons/eraser.png"); }
.ui-icon-usd:after { background-image: url("data:image/svg+xml;charset=US-ASCII,%3C%3Fxml%20version%3D%221.0%22%20encoding%3D%22utf-8%22%3F%3E%3C!DOCTYPE%20svg%20PUBLIC%20%22-%2F%2FW3C%2F%2FDTD%20SVG%201.1%20Tiny%2F%2FEN%22%20%22http%3A%2F%2Fwww.w3.org%2FGraphics%2FSVG%2F1.1%2FDTD%2Fsvg11-tiny.dtd%22%3E%3Csvg%20version%3D%221.1%22%20baseProfile%3D%22tiny%22%20id%3D%22Layer_1%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20x%3D%220px%22%20y%3D%220px%22%20width%3D%2216px%22%20height%3D%2216px%22%20viewBox%3D%220%200%20500%20500%22%20xml%3Aspace%3D%22preserve%22%3E%20%3Cpath%20d%3D%22M272.879%20330.636q0%2042.69-27.762%2073.521t-72.126%2038.086v48.828q0%203.906-2.511%206.417t-6.417%202.511h-37.667q-3.627%200-6.278-2.651t-2.651-6.278v-48.828q-18.415-2.511-35.575-8.649t-28.32-12.417-20.647-13.393-12.974-10.463-4.883-5.022q-4.743-5.859-0.558-11.44l28.739-37.667q1.953-2.79%206.417-3.348%204.185-0.558%206.696%202.511l0.558%200.558q31.529%2027.623%2067.801%2034.877%2010.324%202.232%2020.647%202.232%2022.601%200%2039.76-11.998t17.16-34.040q0-7.813-4.185-14.788t-9.347-11.719-16.323-10.463-18.415-8.929-22.321-9.068q-10.882-4.464-17.16-6.976t-17.16-7.394-17.438-8.649-15.765-9.905-14.927-11.858-12.137-13.672-9.905-16.183-5.859-18.555-2.372-21.763q0-38.504%2027.344-67.522t71.149-37.388v-50.223q0-3.627%202.651-6.278t6.278-2.651h37.667q3.906%200%206.417%202.511t2.511%206.417v49.107q15.904%201.674%2030.832%206.417t24.274%209.347%2017.718%2010.463%2010.882%208.091%204.185%203.906q4.743%205.022%201.395%2010.603l-22.601%2040.737q-2.232%204.185-6.417%204.464-3.906%200.837-7.534-1.953-0.837-0.837-4.046-3.348t-10.882-7.394-16.323-8.929-20.787-7.254-23.856-3.208q-26.507%200-43.248%2011.998t-16.741%2030.971q0%207.254%202.372%2013.393t8.231%2011.579%2011.021%209.208%2015.625%208.649%2016.88%207.534%2019.531%207.673q14.788%205.581%2022.601%208.789t21.206%209.766%2021.066%2011.858%2017.299%2013.951%2014.788%2017.718%208.789%2021.345%203.627%2026.228z%22%20fill%3D%22%23ffffff%22%20%2F%3E%3C%2Fsvg%3E"); background-repeat: no-repeat; }
.ui-nosvg .ui-icon-usd:after { background-image: url("png_icons/usd.png"); }
.ui-icon-google-plus:after { background-image: url("data:image/svg+xml;charset=US-ASCII,%3C%3Fxml%20version%3D%221.0%22%20encoding%3D%22utf-8%22%3F%3E%3C!DOCTYPE%20svg%20PUBLIC%20%22-%2F%2FW3C%2F%2FDTD%20SVG%201.1%20Tiny%2F%2FEN%22%20%22http%3A%2F%2Fwww.w3.org%2FGraphics%2FSVG%2F1.1%2FDTD%2Fsvg11-tiny.dtd%22%3E%3Csvg%20version%3D%221.1%22%20baseProfile%3D%22tiny%22%20id%3D%22Layer_1%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20x%3D%220px%22%20y%3D%220px%22%20width%3D%2216px%22%20height%3D%2216px%22%20viewBox%3D%220%200%20500%20500%22%20xml%3Aspace%3D%22preserve%22%3E%20%3Cpath%20d%3D%22M244.419%20408.761q0-5.859-1.255-11.3t-2.651-10.044-4.883-9.626-5.859-8.51-7.394-8.231-7.673-7.115-8.929-7.115-8.649-6.417-9.208-6.417-8.51-5.859q-4.743-0.558-13.951-0.558-15.067%200-29.576%201.953t-30.134%206.976-27.344%2012.835-19.252%2020.926-7.534%2029.855q0%2018.973%209.905%2033.901t25.949%2023.438%2033.622%2012.695%2035.435%204.185q16.462%200%2031.39-3.488t28.042-10.882%2020.787-20.508%207.673-30.692zM210.938%20168.248q0-16.741-4.604-35.575t-13.114-36.412-23.438-29.018-33.343-11.44q-25.949%200-40.179%2019.252t-14.23%2046.038q0%2013.114%203.208%2027.623t9.905%2029.018%2015.625%2026.088%2021.763%2018.833%2027.065%207.254q27.065%200%2039.202-16.88t12.137-44.782zM174.386%2035.714h121.931l-37.667%2022.042h-37.667q19.81%2012.556%2030.692%2035.156t10.882%2047.154q0%2020.647-6.417%2036.691t-15.625%2025.809-18.415%2017.997-15.625%2017.020-6.417%2018.833q0%207.254%204.604%2014.23t11.998%2013.393%2016.323%2013.393%2017.857%2015.485%2016.323%2018.415%2011.998%2023.716%204.604%2029.715q0%2044.643-39.062%2078.683-42.411%2036.551-117.188%2036.551-16.462%200-33.343-2.79t-34.040-9.347-30.273-16.183-21.484-24.833-8.371-33.901q0-17.020%2010.324-37.667%208.929-17.857%2026.786-30.832t40.458-19.81%2043.248-10.044%2041.853-3.767q-17.857-23.159-17.857-41.574%200-3.348%200.558-6.557t1.395-5.441%202.232-5.999%201.953-5.999q-11.161%201.395-19.531%201.395-41.574%200-71.289-27.344t-29.715-68.638q0-39.063%2026.507-69.894t65.29-39.481q26.228-5.581%2052.176-5.581zM464.286%20107.143v35.714h-71.429v71.429h-35.714v-71.429h-71.429v-35.714h71.429v-71.429h35.714v71.429h71.429z%22%20fill%3D%22%23ffffff%22%20%2F%3E%3C%2Fsvg%3E"); background-repeat: no-repeat; }
.ui-nosvg .ui-icon-google-plus:after { background-image: url("png_icons/google-plus.png"); }
.ui-icon-columns:after { background-image: url("data:image/svg+xml;charset=US-ASCII,%3C%3Fxml%20version%3D%221.0%22%20encoding%3D%22utf-8%22%3F%3E%3C!DOCTYPE%20svg%20PUBLIC%20%22-%2F%2FW3C%2F%2FDTD%20SVG%201.1%20Tiny%2F%2FEN%22%20%22http%3A%2F%2Fwww.w3.org%2FGraphics%2FSVG%2F1.1%2FDTD%2Fsvg11-tiny.dtd%22%3E%3Csvg%20version%3D%221.1%22%20baseProfile%3D%22tiny%22%20id%3D%22Layer_1%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20x%3D%220px%22%20y%3D%220px%22%20width%3D%2216px%22%20height%3D%2216px%22%20viewBox%3D%220%200%20500%20500%22%20xml%3Aspace%3D%22preserve%22%3E%20%3Cpath%20d%3D%22M44.643%20428.571h169.643v-321.429h-178.571v312.5q0%203.627%202.651%206.278t6.278%202.651zM428.571%20419.643v-312.5h-178.571v321.429h169.643q3.627%200%206.278-2.651t2.651-6.278zM464.286%2080.357v339.286q0%2018.415-13.114%2031.529t-31.529%2013.114h-375q-18.415%200-31.529-13.114t-13.114-31.529v-339.286q0-18.415%2013.114-31.529t31.529-13.114h375q18.415%200%2031.529%2013.114t13.114%2031.529z%22%20fill%3D%22%23ffffff%22%20%2F%3E%3C%2Fsvg%3E"); background-repeat: no-repeat; }
.ui-nosvg .ui-icon-columns:after { background-image: url("png_icons/columns.png"); }
.ui-icon-flag-checkered:after { background-image: url("data:image/svg+xml;charset=US-ASCII,%3C%3Fxml%20version%3D%221.0%22%20encoding%3D%22utf-8%22%3F%3E%3C!DOCTYPE%20svg%20PUBLIC%20%22-%2F%2FW3C%2F%2FDTD%20SVG%201.1%20Tiny%2F%2FEN%22%20%22http%3A%2F%2Fwww.w3.org%2FGraphics%2FSVG%2F1.1%2FDTD%2Fsvg11-tiny.dtd%22%3E%3Csvg%20version%3D%221.1%22%20baseProfile%3D%22tiny%22%20id%3D%22Layer_1%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20x%3D%220px%22%20y%3D%220px%22%20width%3D%2216px%22%20height%3D%2216px%22%20viewBox%3D%220%200%20500%20500%22%20xml%3Aspace%3D%22preserve%22%3E%20%3Cpath%20d%3D%22M232.143%20279.018v-53.571q-50.502%204.464-107.143%2032.645v51.618q57.199-26.786%20107.143-30.692zM232.143%20162.388v-54.966q-47.991%202.232-107.143%2035.156v52.734q59.989-30.971%20107.143-32.924zM464.286%20291.574v-51.339q-65.569%2032.366-107.143%2019.81v-62.5q-5.581-1.674-10.882-4.185-1.395-0.837-9.208-4.743t-9.626-4.743-8.789-4.185-9.626-4.325-9.068-3.627-10.044-3.488-9.766-2.372-11.021-2.093-11.021-1.116-12.277-0.558q-6.417%200-13.672%200.837v61.942h5.301q28.46%200%2053.711%208.091t55.106%2022.879q5.301%202.511%2010.882%204.185v52.456q11.719%204.743%2025.391%204.743%2033.482%200%2081.752-25.669zM464.286%20172.433v-52.734q-47.154%2025.391-85.379%2025.391-12.556%200-21.763-2.232v54.688q41.294%2011.719%20107.143-25.112zM89.286%2071.429q0%209.766-4.883%2017.857t-12.974%2012.835v353.237q0%203.906-2.511%206.417t-6.417%202.511h-17.857q-3.906%200-6.417-2.511t-2.511-6.417v-353.237q-8.091-4.743-12.974-12.835t-4.883-17.857q0-14.788%2010.463-25.251t25.251-10.463%2025.251%2010.463%2010.463%2025.251zM500%2089.286v212.891q0%2010.882-9.766%2015.904-2.79%201.395-4.743%202.511-60.826%2032.366-102.958%2032.366-24.554%200-44.085-9.766l-7.813-3.906q-17.857-9.208-27.623-13.393t-25.391-8.091-31.808-3.906q-28.46%200-65.708%2012.277t-63.755%2028.46q-4.185%202.511-9.208%202.511-4.464%200-8.929-2.232-8.929-5.301-8.929-15.625v-207.031q0-9.766%208.649-15.346%209.766-5.859%2021.903-11.858t31.808-14.509%2042.55-13.812%2043.248-5.301q31.25%200%2058.315%208.649t58.315%2023.996q10.603%205.301%2024.833%205.301%2034.040%200%2086.496-31.25%206.138-3.348%208.649-4.743%208.649-4.464%2017.299%200.558%208.649%205.581%208.649%2015.346z%22%20fill%3D%22%23ffffff%22%20%2F%3E%3C%2Fsvg%3E"); background-repeat: no-repeat; }
.ui-nosvg .ui-icon-flag-checkered:after { background-image: url("png_icons/flag-checkered.png"); }

