/* Swipe works with mouse as well but often causes text selection. */
#main-page * {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
}
/* Arrow only buttons in the header. */
#main-page .ui-header .ui-btn {
    background: none;
    border: none;
    top: 9px;
}
#main-page .ui-header .ui-btn-inner {
    border: none;
}

/* Content styling. */
#left-panel { width:auto; }
#left-panel * {
	color:white; background-color:rgba(0,68,204,0.35);
}
/* To avoid additive transparent color, topmost layer must have opacity 0 */
#left-panel pl {font-weight: bold; font-size:100%; background-color:rgba(0,68,204,0);}
#left-panel plc {font-weight: bold; font-size:120%; background-color:rgba(0,68,204,0);}

#right-panel pl, pr, prc, prt {
	font-weight: bold;
	font-size:100%;
} 

#content-container { background-color:Ivory; }
#sys-msg {text-align: center; font-size:100%; padding: 5px 1px 5px 1px;}

/* Add alternating row stripes */
.table-stripe tbody tr:nth-child(odd) td,
.table-stripe tbody tr:nth-child(odd) th {
  background-color: rgba(0,0,0,0.06);
}

#refresh-btn:disabled {
    animation: spin 6s linear infinite;
}

@keyframes spin {
    100% {transform: rotate(360deg);}
}

