/* Swipe works with mouse as well but often causes text selection. */
#main-page * {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
}
/* Arrow only buttons in the header. */
#main-page .ui-header .ui-btn {
    background: none;
    border: none;
    top: 9px;
}
#main-page .ui-header .ui-btn-inner {
    border: none;
}
/* Content styling. */
#left-panel { width:auto; }
#content-container { height:50vh; background-color:Gray; }
#message-box {
	position:fixed; bottom:0px; left:0px; right:0px;
	padding:4px; background-color:darkgray; border-radius: 0px; display:flex;
	flex-direction:row; align-items:center; justify-content:center;	font-size:18px; color:white;
}
